<ul id="post-list">
    {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
    {% for post in sorted_posts %}
        <li>
            <a href='{{ site.baseurl }}{{ post.url }}'><aside class="dates">{{ post.date | date:"%b %d %Y" }}</aside></a>
            <a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }} <h2>{{ post.description }}</h2></a>
        </li>
    {% endfor %}
</ul>

{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}
