---
layout: default
disqus: false
archive: true
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
    </header>
    <section id="post-body">
        {{content}}
        <p>
        If you'd like to contact me then you can email <a href="mailto:writing@petegraham.co.uk">writing@petegraham.co.uk</a>.
        </p>
    </section>
</article>
<footer id="post-meta" class="clearfix">
    <a href="{{ site.url }}">
        <img class="avatar" src="/assets/images/avatar.png" srcset="/assets/images/avatar.png 1x, /assets/images/avatar@2x.png 2x">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>

</footer>

<!-- Disqus comments -->
{% if page.disqus %}
    <div class="archive readmore">
        <h3>Comments</h3>
        {% include disqus.html %}
    </div>
{% endif %}

<!-- Archive post list -->
<!-- TODO: hide current post here -->
{% if page.archive %}
    <ul id="post-list" class="archive readmore">
        <h3>Read more</h3>
        {% for post in site.posts %}
            {% if post.draft != true %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}



