---
layout: default
disqus: false
archive: true
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.description }}</h2>
    </header>
    <section id="post-body">

        {{content}}

    </section>
</article>

<nav id="post-nav">
    {% if page.previous.url %}
        <span class="prev">
                <a href="{{ page.previous.url }}">
                    <span class="arrow">←</span> Previous TIL
                </a>
        </span>
    {% endif %}
    {% if page.next.url %}
        <span class="next">
            <a href="{{ page.next.url }}">
                Next TIL <span class="arrow">→</span>
            </a>
        </span>
    {% endif %}
</nav>

<footer id="post-meta" class="clearfix">
    <a href="http://twitter.com/{{ site.authorTwitter }}">
        <img class="avatar" src="/assets/images/avatar.png">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>
